@font-face{
    font-family: "KreepTown";
    src: url("../assets/KreepTown.otf");
}

@font-face{
    font-family: "Nightmare Pills";
    src: url("../assets/nightmarepills.ttf");
}

@font-face{
    font-family: "Spooky Light";
    src: url("../assets/spookylight.ttf");
}

*{
    color: orange;
    font-family: "KreepTown";
}

h1{
    text-align: center;
    font-family: "Nightmare Pills";
}

th{
    font-family: "Spooky Light";
}

.searchbar{
    margin: auto;
}

.title img{
    display: none;
}

.title:hover img{
    display: block;
}